*.zip
*.html
*.classpath
*.xml
BootStrapEx/WebContent/META-INF/MANIFEST.MF
BootStrapEx/.settings/org.eclipse.wst.jsdt.ui.superType.name
BootStrapEx/.settings/org.eclipse.wst.jsdt.ui.superType.container
BootStrapEx/.settings/org.eclipse.wst.common.component
BootStrapEx/.settings/org.eclipse.jdt.core.prefs
BootStrapEx/.settings/.jsdtscope
BootStrapEx/.project
*.less
*.scss
Extend/FacebookLogin/.settings/org.eclipse.wst.jsdt.ui.superType.name
Extend/FacebookLogin/.settings/org.eclipse.wst.jsdt.ui.superType.container
Extend/FacebookLogin/.settings/org.eclipse.wst.common.component
Extend/FacebookLogin/.settings/org.eclipse.jdt.core.prefs
Extend/FacebookLogin/.settings/.jsdtscope
Extend/FacebookLogin/.project
